body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  margin-top: 50px;
  margin-left: 70px;
  position: relative;
}

.image {
  height: 50%; /* set your desired height */
  width: 70%;
  margin-right: 30px; /* add some space between image and text */
  float: left;

  border-radius: 25px;
}
.new {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.all-image {
  margin-top: 100px;
}
.image1 {
  width: 100%;
  border-radius: 25px;
}
.play-btn {
  width: 100vw;
  height: 100vh;
}
